<!-- <ng-content select="h1"></ng-content>

<div *ngIf="nome != 'Dener'">
  <p [ngClass]="{'active': valor, 'disabled': !valor}"> NgClass </p>
  <p [ngStyle]="{'height': heigthPx, 'background': backgroundColor}"> NgStyle </p>
</div>

<hr>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome}}</li>

<hr>

<ng-template ngFor let-item [ngForOf]="list">

  <p>
    {{item.nome}}
  </p>

</ng-template>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<ng-content select="h3"></ng-content> -->

<!--
<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome | uppercase}}</li> -->


{{date | date: 'dd/MM/yyyy'}}
